[submodule "libcsp"]
	path = libcsp
	url = git@github.com:AlbertaSat/libcsp.git
[submodule "ex2_services"]
	path = ex2_services
	url = git@github.com:AlbertaSat/ex2_services.git
[submodule "ex2_sdr"]
	path = ex2_sdr
	url = git@github.com:AlbertaSat/ex2_sdr.git
[submodule "ex2_uhf_software"]
	path = ex2_uhf_software
	url = git@github.com:AlbertaSat/ex2_uhf_software.git
